*,
 ::before,
 ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.btn {
    text-align: center;
    padding: 14px 0;
    border-radius: 6px;
}

.red {
    background-color: hsl(0, 94%, 66%)!important;
    color: white!important;
}

.blue {
    background-color: hsl(231, 69%, 60%)!important;
    color: white!important;
}

.grey {
    background-color: #F7F7F7!important;
    color: #707076!important;
}

.red:hover {
    background-color: white!important;
    border: 2px solid hsl(0, 94%, 66%);
    color: hsl(0, 94%, 66%)!important;
    padding: 12px 0;
}

.blue:hover {
    background-color: transparent!important;
    border: 2px solid hsl(231, 69%, 60%);
    color: hsl(231, 69%, 60%)!important;
    padding: 12px 0;
}

.grey:hover {
    background-color: transparent!important;
    border: 2px solid #707076;
    color: #707076!important;
    padding: 12px 0;
}


/*
*/

.navbar-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 50px 100px 100px;
}

.navbar-wrapper img {
    margin-right: auto;
}

.navbar-wrapper a {
    color: hsl(229, 31%, 21%);
    font-weight: 400;
    margin: 0 15px;
    font-size: 17px;
    text-transform: uppercase;
}

.navbar-wrapper .btn {
    width: 140px;
}

.header-wrapper {
    padding: 50px 100px;
    display: flex;
    align-items: center;
}

.header-wrapper .btn {
    display: inline-block;
    width: 190px;
    margin: 20px 20px 0 0;
}

.header-wrapper img {
    position: relative;
    left: 80px;
}

.header-text {
    max-width: 700px;
}

.article-1-wrapper {
    position: relative;
    padding: 50px 100px;
}

.article-1-title {
    text-align: center;
}

.article-1-title p {
    max-width: 600px;
    margin: 25px auto 50px;
}

.slider-options {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0 auto 80px auto;
    width: 825px;
    padding-bottom: 30px;
    border-bottom: 1px solid #8A8A90;
}

.slider-options p {
    color: #8A8A90;
    width: 275px;
    text-align: center;
    cursor: pointer;
    transition: color 0.3s;
}

.slider:hover {
    color: hsl(0, 94%, 66%);
}

.slider-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    width: 275px;
    background-color: hsl(0, 94%, 66%);
    transition: left 0.5s;
}

.tab {
    display: flex;
    width: 1000px;
    height: 420px;
    align-items: center;
    margin: 0 auto;
    display: none;
}

.tab.active {
    display: flex;
}

.tab img {
    width: 500px;
}

.tab-text {
    margin-left: 60px;
}

.tab-text:not(.btn) p {
    margin: 20px 0 20px 0;
}

.tab-text .btn {
    display: inline-block;
    width: 135px;
}

.header-bg-shape {
    position: absolute;
    bottom: 0;
    transform: translateY(20%);
    margin-left: 30px;
    right: 0;
    width: 600px;
    height: 350px;
    border-radius: 175px 0 0 175px;
    background-color: hsl(231, 69%, 60%);
    z-index: -1;
}

.slider-bg-shape {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 600px;
    height: 350px;
    border-radius: 0 175px 175px 0;
    background-color: hsl(231, 69%, 60%);
    z-index: -1;
}